# vim: set ft=toml :


[workspace]
name = 'notes'
channels = ['conda-forge']
platforms = ['osx-arm64']


[dependencies]
python = { version = '>=3.14,<3.15' }


[pypi-dependencies]
mkdocs = { version = '*' }
mkdocs-macros-plugin = { version = '*' }
mkdocs-material = { version = '*', extras = ['git', 'imaging', 'recommended'] }
