# vim: set ft=requirements :


mkdocs>=1.6.0
mkdocs-macros-plugin
mkdocs-material[git,imaging,recommended] @ git+ssh://git-personal/squidfunk/mkdocs-material-insiders.git@72bb91be3f0433f05bfe8585c1a48239f8007100
