<?xml version="1.0" encoding="UTF-8"?>
<!-- vim: set ft=xml : -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/Users/manselmi/.prefix/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
		<key>TZ</key>
		<string>UTC</string>
	</dict>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>Label</key>
	<string>net.devpi.server</string>
	<key>ProgramArguments</key>
	<array>
	<array>
		<string>/Users/manselmi/.devpi/devpi-server</string>
		<string>/Users/manselmi/.taskfile/devpi/.pixi/envs/default/bin/devpi-server</string>
		<string>--port</string>
		<string>3141</string>
		<string>--serverdir</string>
		<string>/Users/manselmi/.devpi/server</string>
	</array>
	</array>
</dict>
</plist>
